
    <h1 class="bottom">Welcome!</h1>

<div class="wrapper">
  <h5>To do lists galore</h5>
  <p>Organize all your tasks with this modern application!</p>

  <h4>So many options on one application!</h4>
  <p>This plastic application is able to do all the tasks you have been looking for in a to do list manager. You can add items, edit them, and delete tasks completed!</p>
</div>

<button class="waves-effect orange darken-4 btn-large"><%= link_to 'Go to your list', pages_path %></button>
